<launch>
  <arg name="ns" default="myrobot"/>
  <arg name="id_subsystem" default="133"/>
  <arg name="id_node" default="64"/>
  <group ns="$(arg ns)">
      <node name="iop_digital_video" pkg="iop_component_fkie" type="iop_component">
        <param name="capability_group" value="iop_bridge"/>
        <rosparam param="services">
          [
            iop_digital_resource_discovery_fkie : "DigitalResourceDiscoveryClient",
            iop_still_image_fkie: "StillImage",
            iop_digital_video_fkie: "DigitalVideo",
            iop_visual_sensor_fkie: "VisualSensor",
            iop_liveness_fkie: "Liveness",
            iop_discovery_fkie: "DiscoveryClient",
            iop_accesscontrol_fkie: "AccessControl",
            iop_events_fkie: "Events",
            iop_events_fkie: "EventsClient",
            iop_transport_fkie: "Transport",
          ]
        </rosparam>
        <param name="iop_address" value="$(arg id_subsystem).$(arg id_node).50"/>
        <rosparam subst_value="true">
        DiscoveryClient:
            enable_ros_interface: false
        DigitalVideo:
            # list with video streams. Format: "ID/Type of source": "URL".
            # Example for RTSP stream: "0/rtsp" : "rtsp://URL"
            video_endpoints:
                - "1/https": https://youtu.be/h4rhdZ_MXf8?t=17
                - "2/mpeg2ts": $(find iop_cfg_sim_stage_fkie)/resources/example.mp4
                - "3/rtsp_topic": map_image/rtsp
        StillImage:
            # list with image topics. Format: ID: ROS topic.
            image_sensors:
                - "4": map_image/compressed
        VisualSensor:
            # list with sensor names. Format: ID: name of the sensor.
            sensor_names:
                - "1": youtu.be
                - "2": local
                - "3": map_image
                - "4": map_topic
        </rosparam>
    </node>
  </group>
</launch>
